h1{
   font-family: 'Cinzel', serif;
   color:navy;
   align: left;
   margin-left:0px;
}
p{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color:navy;
  margin-left: 600px;
  margin-right: 600px;
font-size: 30px;
}
body{
  color: inherit;
  background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2014/04/12/330542/b0294ae380a0dce9c733edc990de8989.jpg);

}
h2{
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  color:navy;
  text-decoration: underline;
  margin-left: 600px;
  margin-right: 600px;
  font-size: 40px;
}

ul{
  text-align:center;

}
img{
  image-orientation: center;
  max-height: 300px
}
