h1{
   font-family: 'Cinzel', serif;
   color:navy;
   align: left;
   margin-left:0px;
}
p{
  font-family: 'Playfair Display', serif;
  text-align: left;
  color:navy;
  margin-left: 100px;
  margin-right: 10px;
font-size: 20px;
}
body{
  color: inherit;
  background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2014/04/12/330542/b0294ae380a0dce9c733edc990de8989.jpg);
}
h2{
  text-align: left;
  font-family: 'Playfair Display', sans-serif;
  color:navy;
  text-decoration: underline;
  font-size: 30px;
}

ul{
  text-align:left;

}
#profilePic{
  float: left;
      margin: 0 0 10px 10px;
  max-height: 300px
}

img{
  max-height: 500px;
  max-width: 300px;
}

li{
  font-size: 20px;
   list-style-image: none;
   list-style-type: none;
}
#travelSoccerPic {
  float: center;
  display: none;
}

#familyPic{
  float: right;
  display: none;
  max-height: 200px;
  max-width: 100px;
}

#swimmingPic{
  float: center;
  display: none;
}

#basketballPic{
  float: center;
  display: none;
}

#rugbyPic{
  float: center;
  display: none;
}

#golfPic{
  float: center;
  display: none;
}

#violinPic{
  float: center;
  display: none;
}

#tapDancePic{
  float: center;
  display: none;
}
